<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LogMapper">

	<sql id="columns">
		Log_Id as logId, Log_Time as logTime, Thread_Name as threadName, 
		Log_Leval as logLeval, Class_Name as className, Log_Info as logInfo
	</sql>

	<!-- 日志清理(测试用) -->
	<delete id="delete">
		delete from App_Log
	</delete>

	<!-- 日志记录 -->
	<insert id="insert" parameterType="com.entity.AppLog">
		INSERT INTO App_Log(
		Log_Time, Thread_Name, Log_Leval, Class_Name, Log_Info)
		VALUES(#{logTime}, #{threadName}, #{logLeval}, #{className}, #{logInfo})
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO App_Log(Log_Time, Thread_Name, Log_Leval, Class_Name, Log_Info)
		VALUES
		<foreach collection="list" item="appLog" index="index" separator=",">
			(
			#{appLog.logTime},
			#{appLog.threadName},
			#{appLog.logLeval},
			#{appLog.className},
			#{appLog.logInfo}
			)
		</foreach>
	</insert>
	
	<!-- 总量统计 -->
	<select id="getTotal" resultType="int">
		SELECT count(1) FROM App_Log
		<where>
		    <if test="appLog.logInfo != null and appLog.logInfo !=''">
		      	and Log_Info like concat('%', #{appLog.logInfo}, '%')
		    </if>
		
		    <if test="appLog.endLogTime &gt; appLog.startLogTime">
		      	and Log_Time <![CDATA[>=]]> #{appLog.startLogTime} and Log_Time <![CDATA[<=]]> #{appLog.endLogTime}
		    </if>
		    
		    <if test="appLog.className != null and appLog.className !=''">
		      	and Class_Name = #{appLog.className}
		    </if>
		    
		    <if test="appLog.logLeval != null and appLog.logLeval !=''">
				and Log_Leval = #{appLog.logLeval}
			</if>
		</where>
	</select>
	
	<!-- 列表查询 -->
	<select id="getList" resultType="com.entity.AppLog">
		SELECT 
		LIMIT #{startIndex} #{pageSize}
		<include refid="columns"/>
		FROM App_Log
		<where>
		    <if test="appLog.logInfo != null and appLog.logInfo !=''">
		      	and Log_Info like concat('%', #{appLog.logInfo}, '%')
		    </if>
		    
		    <if test="appLog.endLogTime &gt; appLog.startLogTime">
		      	and Log_Time <![CDATA[>=]]> #{appLog.startLogTime} and Log_Time <![CDATA[<=]]> #{appLog.endLogTime}
		    </if>
		    
		    <if test="appLog.endLogTime &lt; appLog.startLogTime">
		    	and 1 = 2
		    </if> 
		    
		    <if test="appLog.className != null and appLog.className !=''">
		      	and Class_Name = #{appLog.className}
		    </if>
		    
		    <if test="appLog.logLeval != null and appLog.logLeval !=''">
				and Log_Leval = #{appLog.logLeval}
			</if>
		</where>
		Order By Log_Id DESC
	</select>
	
</mapper>